.body {
    background:  url('/../img/backgroud.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
}
.fix-backgroud {
    background:  url('/../img/backgroud.jpg') no-repeat center center fixed;
    color: white;
    
}
